asgiref==3.9.1
beautifulsoup4==4.13.4
charset-normalizer==3.4.2
Django==5.2.4
django-bootstrap4==25.1
et_xmlfile==2.0.0
mysqlclient==2.2.7
openpyxl==3.1.5
pillow==11.3.0
reportlab==4.4.3
soupsieve==2.7
sqlparse==0.5.3
typing_extensions==4.14.1
tzdata==2025.2
